@import './const.scss';

.widget {
    width: 70rem;
    height: 140rem;
    background-color: white;
    z-index: $z-foreground-2;
    position: fixed;
    right: 5%;
    bottom: 5%;
    border-radius: 12rem;

    &-card {
        padding: 10rem;
        height: 70rem;
        width: 70rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &-image {
            height: 50rem;
            width: 50rem;
        }
    }

    &-line {
        color: #CCCCCC;
        width: 70rem;
        margin: 0;
        padding: 0;
        border-width: 1rem;
    }
}