@import './../const.scss';

.salary {
  background-color: $background-white;
  height: 100vh;
  position: relative;

  &-header {
    background-color: $background-white;
  }

  &-title{
    margin-left: 24px;
    font-family: $header-title-font-family;
    color: $blue-title !important;
    font-size: $header-title-font-size;
    line-height: $header-title-lineheight;
  }

  &-info {
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
  }

  &-card {
    width: 250px;
    height: 152px;
    border-color: $blue-title;
    border-width: 5px;
    align-items: center;
    display: flex;
    justify-content: center;

    &-title {
      color: $blue-title;
      font-family: $content-font-family;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -1.28px;
    }

    &-info {
      color: black;
      font-family: $content-font-family;
      font-size: $header-text-font-size;
      font-style: normal;
      font-weight: 300;
      line-height: 100%;
      letter-spacing: -0.48px;
    }
  }

  &-result {
    width: 524px;
  }

  &-content {
    position: relative;
    overflow: hidden;
    z-index: $z-foreground;

    &::before {
      content: '';
      z-index: $z-background;
      position: absolute;
      bottom: 0;
      left: -7%;
      width: 230%;
      height: 110%;
      background: $background-white-gradient bottom no-repeat;
      transform: rotate(-25deg);
    }
  }
}