@import './../const.scss';

.salary {
  background-color: $background-white;
  height: 100vh;
  position: relative;

  &-jira {
    position: fixed;
    backdrop-filter: blur(5rem);
    width: 100vw;
    height: 100vh;
    z-index: 3;

    &-popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 850rem;
      height: 414rem;
      background: white;
      border: 3rem solid $blue-title;
      border-radius: 20rem;

      &-title {
        color: $blue-title;
        text-align: center;
        font-family: $content-font-family;
        font-size: 64rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -1.28rem;
      }

      &-button {
        height: unset !important;
        display: flex;
        padding: 29rem 32rem 30rem 32rem;
        align-items: center;
        gap: 25rem;
        border-radius: 20rem;
        border: $blue-title solid;
        background: white;
        color: $blue-button-text;
        text-align: center;
        font-family: $content-font-family;
        font-size: 32rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &-image {
        width: 50rem;
        height: 50rem;
      }
    }
  }

  &-header {
    background-color: $background-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 50rem 150rem 75rem 287rem;
  }

  &-select {
    height: 50rem;
    width: 524rem;
  }

  &-title {
    color: $blue-title;
    font-family: $content-font-family;
    font-size: 64rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.28rem;
  }

  &-info {
    width: 100%;
    margin-left: 287rem;
    margin-right: 150rem;
  }

  &-animation {
    width: 524rem;
    position: relative;
    left: -30rem;
  }

  &-card {
    width: 387rem;
    height: 152rem;
    border-color: $blue-title;
    border-width: 5rem;
    align-items: start;
    display: flex;
    justify-content: center;

    &-without-info {
      align-items: center;
    }

    &-name {
      color: black;
      font-family: $content-font-family;
      font-size: 40rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.8rem;
    }

    &-title {
      color: $blue-title;
      font-family: $content-font-family;
      font-size: 64rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -1.28rem;
    }

    &-info {
      color: black;
      font-family: $content-font-family;
      font-size: $header-text-font-size;
      font-style: normal;
      font-weight: 300;
      line-height: 100%;
      letter-spacing: -0.48rem;
    }
  }

  &-final {
    &-card {
      background-color: $blue-title;

      &-title {
        color: white;
        font-family: $content-font-family;
        font-size: 56rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -1.12rem;
      }

      &-info {
        color: white;
        font-family: $content-font-family;
        font-size: 22rem;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
        letter-spacing: -0.44rem;
      }
    }
  }

  &-result {
    width: 524rem;

    &-block {
      margin-bottom: 30rem;
    }
  }

  &-reward {
    &-block {
      align-self: flex-end;
      height: 200rem;
      width: 524rem;
      border-color: $blue-title;
      border-width: 3rem;
      opacity: 0;
      transform: translateX(-10%);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &-info {
      color: #000;
      font-family: $content-font-family;
      font-size: 18rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: -0.36rem;
      margin-top: 22rem;
    }

    &-name {
      color: black;
      font-family: $content-font-family;
      font-size: 32rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.64rem;
      margin-right: 10rem;
    }

    &-number {
      &-reward {
        color: $lime-reward;
        font-family: $content-font-family;
        font-size: 32rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.64rem;
      }

      &-credit {
        color: $red-credit;
        font-family: $content-font-family;
        font-size: 32rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.64rem;
      }
    }
  }

  &-content {
    position: relative;
    overflow: hidden;
    z-index: $z-foreground;

    &::before {
      content: '';
      z-index: $z-background;
      position: absolute;
      bottom: 0;
      left: -7%;
      width: 230%;
      height: 110%;
      background: $background-white-gradient bottom no-repeat;
      transform: rotate(-25deg);
    }
  }
}

.ant-card-body {
  padding: 24rem !important;
}

.salary-animation:hover + .salary-reward-block {
  opacity: 1;
  transform: translateY(0);
}

.ant-select-selection-item {
  color: black;
  leading-trim: both;
  font-family: $content-font-family;
  font-size: 32rem;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 200%;
  letter-spacing: -0.64rem;
}

.ant-select-item-option-content {
  color: black;
  leading-trim: both;
  font-family: $content-font-family;
  font-size: 32rem;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 200%;
  letter-spacing: -0.64rem;
}

.ant-select-item {
  height: 50rem !important;
  padding: 0 12rem !important;
  min-height: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-select-selector {
  padding: 11rem !important;
  background-color: #D8E3FB !important;
}

.ant-select-item-option-selected {
  background-color: #A7C3FF !important;
}

.ant-select-dropdown {
  background-color: #D8E3FB !important;
}

.ant-select-arrow {
  font-size: 30rem !important;
  color: black !important;
}