@import './../const.scss';

.salary {
  background-color: $background-white;
  height: 100vh;
  position: relative;

  &-header {
    background-color: $background-white;
    margin-left: 5%;
    margin-bottom: 75rem;
    margin-top: 50rem;
  }

  &-title {
    color: $blue-title;
    font-family: $content-font-family;
    font-size: 64rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.28rem;
  }

  &-info {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  &-card {
    width: 387rem;
    height: 152rem;
    border-color: $blue-title;
    border-width: 5rem;
    align-items: start;
    display: flex;
    justify-content: center;

    &-name {
      color: black;
      font-family: $content-font-family;
      font-size: 40rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.8rem;
    }

    &-title {
      color: $blue-title;
      font-family: $content-font-family;
      font-size: 64rem;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -1.28rem;
    }

    &-info {
      color: black;
      font-family: $content-font-family;
      font-size: $header-text-font-size;
      font-style: normal;
      font-weight: 300;
      line-height: 100%;
      letter-spacing: -0.48rem;
    }
  }

  &-result {
    width: 524rem;

    &-block {
      margin-bottom: 30rem;
    }
  }

  &-reward {
    &-block {
      border-color: $blue-title;
      border-width: 3rem;
      opacity: 0;
      transform: translateY(-30%);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    &-name {
      color: black;
      font-family: $content-font-family;
      font-size: 32rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.64rem;
      margin-right: 10rem;
    }

    &-number {
      &-reward {
        color: $lime-reward;
        font-family: $content-font-family;
        font-size: 32rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.64rem;
      }

      &-credit {
        color: $red-credit;
        font-family: $content-font-family;
        font-size: 32rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.64rem;
      }
    }
  }

  &-content {
    position: relative;
    overflow: hidden;
    z-index: $z-foreground;

    &::before {
      content: '';
      z-index: $z-background;
      position: absolute;
      bottom: 0;
      left: -7%;
      width: 230%;
      height: 110%;
      background: $background-white-gradient bottom no-repeat;
      transform: rotate(-25deg);
    }
  }
}

.ant-card-body {
  padding: 24rem !important;
}

.salary-result-block:hover + .salary-reward-block {
  opacity: 1;
  transform: translateY(0);
}