$background: #f2f6ff;
$color-gradient: linear-gradient(to right, #e9effc, transparent);
$planning-text-font-size: 1.5rem;
$accent: #0843dd;
$default-field: #d9d9d9;
$color-border: #1c51db;
$red: #f33;
$yellow: #e5c03e;
$grey: #949191;
$grey-background-text: #d9d9d9;
