html,
body,
#root {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    left: 1.8rem !important;
    top: 2.8rem !important;
    height: calc(100vh - 5.6rem) !important;
}

.menu div{
    gap: 2.8rem !important;
}

.menu div img {
    width: 2rem !important;
    height: 1.9rem !important;
}
h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
ul,
ol {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.limit {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
