@import "./../const.scss";
.button-container{
  margin-top: 4%;
  display: flex;
  margin-left: 9%;
}
.mail {
  width: 426px;
  height: 64px;
  font-weight: 400;
  font-size: $planning-text-font-size;
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    gap: 3%;
    &__img {
      width: 40px;
    }
  }
  &-img__container {
    display: block;
    position: relative;
    align-items: center;
    height: 32px;
  }
  &-active {
    position: absolute;
    display: flex;
    top: 1px;
    right: 1px;
    transform: translate(50%, -50%);
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    border-radius: 50%;
    z-index: 1;
  }
}

