.jira-window-container {
    box-sizing: border-box;
    border-radius: 12px;
    border: 2px solid #1c51db;
    background: #edf2fd;
    width: 40vw;
    max-height: 73vh;
    z-index: 1;
    margin-bottom: 2rem;
    margin-top: 2.4rem;
}

.jira-tasks-container {
    display: flex;
    position: relative;
    min-height: 42vh;
    max-height: 55vh;
    overflow: auto;
    margin: 3rem 0 3.75rem 0;
    justify-content: center;
}
