.jira-window-container {
    box-sizing: border-box;
    border-radius: 12px;
    border: 2.591px solid #1c51db;
    background: #edf2fd;
    width: 780px;
    max-height: 770px;
    margin-left: 64px;
    z-index: 1;
    margin-bottom: 24px;
    margin-top: 42px;
}

.jira-tasks-container {
    display: flex;
    position: relative;
    min-height: 400px;
    max-height: 650px;
    overflow: auto;
    margin: 60px 0 60px 0;
    justify-content: center;
}
