@import './../const.scss';

.review{
    position: relative;

    &-header{
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
        background-color: $background-blue;
        height: 290px;
    }

    &-title{
        font-family: $header-title-font-family;
        color: white !important;
        font-size: $header-title-font-size;
        line-height: $header-title-lineheight;
    }

    &-subtitle{
        font-size: 2rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &-text{
        color: white;
        font-size: $header-text-font-size;
        line-height: $header-text-lineheight;
    }

    &-content{
        margin-top: 80px;
        padding-bottom: 120px;
        position: relative;
        overflow: hidden;

        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            left: -7%;
            width: 150%;
            height: 40%;
            background: linear-gradient(to right, #E9EFFC, transparent);
            background-position: bottom;
            background-repeat: no-repeat;
            transform: rotate(-25deg);
        }
    }

    &-form{
        display: flex;
        flex-direction: column;
        width: 33%;
        gap: 40px;
    }

    &-textarea{
        font-size: 24px;
    }

    &-save,&-send{
        width: calc(50% - 26px);
        height: 70px;
        border-radius: 10px;
        font-size: 24px;
    }

    &-save{
        background-color: #B2BCD5;
    }

    &-send{
        background-color: #0843DD;
    }
}

.header{
    &-container{
        height: 100%;
    }
}