$light-blue-background-button: #D8E3FB;
$active-blue-background-button: #0843DD;
$active-blue-background-button-hover: rgba(8, 67, 221, 0.6);

// z-indexes
$z-background-2: -2;
$z-background: -1;
$z-content: 0;
$z-foreground: 1;
$z-foreground-2: 2;
$z-foreground-3: 3;